.app {
    width: 100%;
    height: 100vh;
}

.main_section {
    display: grid;
    grid-template-columns: 15rem 1fr 0.4fr;
    width: 100%;
    height: 80vh;
    padding: 0 10px;
    gap: 10px;
}

/* .main_section div {
    background-color: var(--light-black);
    border-radius: 10px;
} */