.artist_listItems {
    list-style: none;
    min-width: 6.5rem;
    min-height: 6.5rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin: 6px;
    margin-bottom: 15px;
}

.artist_listItems a {
    text-decoration: none;
} 

.artist_listItems a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}