@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: ;
  --dark-blue-color: ;
  --bg-dark-color: black;
  --light-black: rgb(23, 22, 22);
  --light-black2: rgb(34, 33, 33);
}

body {
  background-color: var(--bg-dark-color);
  color: white;
  font-family: 'Roboto Slab', serif;
}

body::-webkit-scrollbar {
  display: none;
}

.section {
  background-color: var(--light-black);
  border-radius: 10px;
}

